// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$black: #272932;
$white: #FFFFFF;
$button: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
$button_blue:#6F8AB7 ;
