.home-background {
  width: 100vw;
  min-height: 90vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.img-fluid{
  position: relative;
}

#why {
  color: black;
  font-size: 80px;
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  position: relative;
  top: 25px;
}

#fonction {
  color: black;
  font-size: 20px;
  font-family: 'Urbanist', sans-serif;
  text-align: center;
}
