.home-background {
  width: 100vw;
  min-height: 90vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}

.img-fluid{
  position: relative;
}

.home-logo {
  color: black;
  font-size: 164px;
  font-family: 'Righteous', cursive;
  text-align: center;
  position: relative;
  top: 25px;
  display: flex;
  justify-content: center;
}

.title-head {
  color: black;
  font-size: 90px;
  font-family: 'Righteous', cursive;
  text-align: center;
  position: relative;
  top: 25px;
  display: flex;
  justify-content: center;
}

  #logo {
    color: black;
    font-size: 65px;
    text-align: center;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
  }

#why {
  color: black;
  font-size: 100px;
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  position: relative;
  top: 25px;
}

#fonction {
  color: black;
  font-size: 20px;
  font-family: 'Urbanist', sans-serif;
  text-align: center;
}

#btn-fonction {
  color: white;
  font-size: 40px;
  text-align: center;
}
