<% if current_user %>
<%= link_to "index", city_pulses_path(current_user.city.id) %>
<% end %>


<%# ------------------------------- div title---------------------------------- %>
<div class="home-logo">
    <p>city pulse</p><i id="logo"class="fas fa-heartbeat"></i>
</div>
<%# ------------------------------- div title fin---------------------------------- %>

<%# ------------------------------- How it Works---------------------------------- %>

<div class="container-home">

  <div id="why">
    <h2>How it Works</h2>
  </div>
  <div class="card__container">
    <div class="card">
      <div class="card__content">
        <button class="card__button"><i class="fas fa-heartbeat"></i></button>
        <h3  id="fonction" class="card__header">Pulse</h3>
        <p class="card__info">Propose une idée pour pulser ta ville</p>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <button class="card__button"><i class="fas fa-heart"></i></button>
        <h3 id="fonction" class="card__header">Vote</h3>
        <p class="card__info">Soutiens les pulses qui te tiennent à coeur !</p>
      </div>
    </div>
    <div class="card">
      <div class="card__content">
        <button id=btn-fonction class="card__button"><i class="fas fa-thumbs-up"></i></button>
        <h3 id="fonction" class="card__header">Concretise</h3>
        <p id="description" class="card__info">Donne vie au pulse de ta ville</p>
      </div>
    </div>
  </div>
</div>




<%# ------------------------------- How it Works fin---------------------------------- %>



<%# ------------------------------- search ---------------------------------- %>


<%# ------------------------------- search fin---------------------------------- %>


<%# ------------------------------- Là où ca pulse !---------------------------------- %>
<div id="why" class="container">
  <h2>Là où ca pulse !</h2>
</div>
<%# ------------------------------- Là où ca pulse ! fin---------------------------------- %>
