// ================== BTN LIKE ==================

.button-like-red {
  padding: 5px;
  background: $button;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  border: none;
  margin: 25px auto;
  font-size: 26px;
  position: absolute;
  right: 15px;
  margin-bottom: 10px;
  top: 145px;
}
.button-like-red:hover {
  top: 150px;
  transition: all 0.5s;
}

.button-like-blue {
  padding: 5px;
  background: $button_blue;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  border: none;
  margin: 25px auto;
  font-size: 26px;
  position: absolute;
  right: 15px;
  margin-bottom: 10px;
  top: 145px;
}
.button-like-blue:hover {
  top: 150px;
  transition: all 0.5s;
}

#button-back {
color:inherit;
color: #272932;
text-decoration: none;
}

.button-like-blue-show {
  padding: 5px;
  background: $button_blue;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  border: none;
  margin: 25px auto;
  font-size: 26px;
}

.button-like-red-show {
  padding: 5px;
  background: $button;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  border: none;
  margin: 25px auto;
  font-size: 26px;
}

// ================== BTN PULSER ==================

#button-pulse-red {
  background: $button;
  border-radius: 25px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 20px 70px;
  margin: 20px;
}

// ================== BTN FILTER ==================

.buttonfilter{
  background-color: white;
  color: #6F8AB7;
  border: solid;
  border-color: #6F8AB7;
  border-radius: 6px;
  height: 33px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonfilter:hover{
  background-color: #272932;
  color: white;
  border: none;
  border-radius: 6px;
  height: 33px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonfiltered{
  background-color: #272932;
  color: white;
  border: none;
  border-radius: 6px;
  height: 33px;
  padding-left: 20px;
  padding-right: 20px;
}

// dashboard
.button-red {
  background: $button;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 4px 10px;
  &:hover {
    opacity: 1;
  }
}

// form

#seventh-section {
  display: flex;
  justify-content: center;
}

.submit-btn {
  background: $button;
  border-radius: 10px;
  font-size: 30px;
  color: $white;
  border: none;
  width: 350px;
  height: 50px;
}

.pulse {
  margin:100px;
  display: block;
  background: $button;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(253,28,1044, 0.4);
  animation: pulse 2s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(253,28,104, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(253,28,104, 0.4);
    box-shadow: 0 0 0 0 rgba(253,28,104, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}


.button-nav-pulse {
    padding: 10px;
    background: white;
    height: 15px;
    width: 15px;
    border-radius: 100px;
    color: #FD1C68;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 0px auto;

    background: -webkit-linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
    -webkit-background-clip: red;
    -webkit-text-fill-color: white;
  }
