// ================== BTN LIKE ==================

.button-like-red {
  padding: 5px;
  background: $button;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  border: none;
  margin: 25px auto;
  font-size: 26px;
  position: absolute;
  right: 15px;
  margin-bottom: 10px;
  top: 145px;
}
.button-like-red:hover {
  top: 150px;
  transition: all 0.5s;
}

.button-like-blue {
  padding: 5px;
  background: $button_blue;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  border: none;
  margin: 25px auto;
  font-size: 26px;
  position: absolute;
  right: 15px;
  margin-bottom: 10px;
  top: 145px;
}
.button-like-blue:hover {
  top: 150px;
  transition: all 0.5s;
}

#button-back {
color:inherit;
color: #272932;
text-decoration: none;
}

// ================== BTN PULSER ==================

#button-pulse-red {
  background: $button;
  border-radius: 25px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  padding: 20px 70px;
  margin: 20px;
}

// ================== BTN FILTER ==================

.buttonfilter{
  background-color: white;
  color: #6F8AB7;
  border: solid;
  border-color: #6F8AB7;
  border-radius: 6px;
  height: 33px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonfilter:hover{
  background-color: #272932;
  color: white;
  border: none;
  border-radius: 6px;
  height: 33px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttonfiltered{
  background-color: #272932;
  color: white;
  border: none;
  border-radius: 6px;
  height: 33px;
  padding-left: 20px;
  padding-right: 20px;
}

// dashboard
.button-red {
  background: $button;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 4px 10px;
  &:hover {
    opacity: 1;
  }
}
