.button-pulse-red {
  background:#272932;
  color: inherit;
  color: white;
  font-size: 14px;
  text-decoration: none;
  height: fit-content;
  text-align: center;
  border-radius: 15px;
  margin-top: 27px;
  padding: 5px;

}

.button-back {
color:inherit;
color: #272932;
text-decoration: none;
}
