
// ---------- PAGE PROFIL & Dashboard -------------

.profile-card {
  position: relative;
  color: white;
  background-color: $black;
  border-radius: 8px;
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  p{
    font-size: 14px;
    opacity: .7;
  }
}

.profile-card-left {
  margin-left: 120px;
}

.profile-card-bottom {
  color: $black;
  border-color: black;
  border: solid 2px;
  padding: 10px;
  margin: 45px;
  background-color: $white;
  border-radius: 8px;
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  p{
    font-size: 14px;
    opacity: .7;
  }
}

.pulses-profile {
  border-radius: 5px;
}

// =============== CARDS INDEX PULSE ===============
.card-pulse-container {
    flex-grow: 1;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
  }

.card-pulse {
  background: $black;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;
  // width: 900px ;
  border-radius: 20px;
  padding: 4%;
  margin-bottom: 20px;
}

#card-pulse-img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 200px;
}

// ---------- MANU HOME -------------

.card-pulse .avatar {
  position: absolute;
  right: 44%;
  top: -32px;
  width: 70px;
  height: 70px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.card-pulse .card-pulse-infos {
  padding: 16px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.card-pulse h2 {
  font-size: 16px;
  font-weight: bold;
  font-family: open sans-serif;
  margin: 0;
  color: white;
}

.card-pulse p {
  font-size: 13px;
  font-family: open sans-serif;
  margin: 0;
  color: white;
  max-width: 90%;
  text-align: justify;
}

.card-pulse-votes {
  font-weight: lighter;
  font-size: 18px;
  color: white;
  padding-top: 4%;
  text-align: center;

}

// =============== CARDS LANDING PULSE ===============

.container-home {
  width: 100%;
  height:100vh;
  background-image: asset-url("Group.svg");
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.card {
  border: none;
  width: 60%;
  padding: auto;
  text-align: center;
  border-radius: 10px;
  background-color: transparent;
  &__container{
    background-color: white;
    margin: auto;
    display: grid;
    width:70%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    color: grey;
    box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
  }
  &__content {
    // background: white;
    margin: 10px auto;
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    &:hover{
      margin-top:-10px;
    }
  }
  &__header {
    text-transform: uppercase;
    font-size: 20px;
    margin: 17px auto;
  }
  &__button {
    padding: 10px;
    background: $button;
    height: 142px;
    width: 142px;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin: 25px auto;
    font-size: 50px;
  }
}



// ---------- MANU HOME -------------



.card-counter-pulse{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
  color: white;
  // position:sticky;
	top:0;
  width: 342px;
  height: 139px;
  // left: 662px;
  // top: -89px;
  background: linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
  // border: 1px solid #EBEEF2;
  box-sizing: border-box;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  // cache misere
  margin: 0 auto;
}

.box-pulse-show {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.box-pulse-show>*:first-child {
    align-self: stretch;
}
.box-pulse-show .selected {
    align-self: end;
}




.pulse-card-why {
    width: 50%;
    position: relative;
    color: white;
    background-color: $black;
    border-radius: 8px;
    display: flex;
    margin-top: 50px;
    // flex-direction: column-reverse;
    justify-content: center;
    h1 {
      font-size: 32px;
    }
    h2 {
      font-size: 20px;
    }
    p{
      padding: 20px;
      font-size: 14px;
      opacity: .7;
    }
  }

  .inner-pulse-card {
    margin-left: 120px;
  }

  .button-like-red {
  padding: 10px;
  background: $button;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: black;
  font-weight: bold;
  border: none;
  margin: 25px auto;
  font-size: 20px;
  position: absolute;
  top: -50px;
  right: 10px;
  margin-bottom: 10px;

}

.button-like-blue {
  padding: 10px;
  background: $button_blue;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  border: none;
  margin: 25px auto;
  font-size: 20px;
  position: absolute;
  top: -50px;
  right: 10px;
  margin-bottom: 10px;
}



// ======= count ========
// body{
// 	background: orange;
// 	animation: bg 5s infinite ease alternate;
// }

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0);
	overflow: hidden;
  background: white;
	// animation: bg 5s infinite ease alternate;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
  position: absolute;
	width: 400px;
	height: 400px;
}

.mask{
	position: absolute;
	width: 400px;
	height: 175px;
	top: 225px;
	background: white;
	z-index: 99999;
	animation: bg 5s infinite ease alternate;
}

.mask:before{
	content: " ";
	position: absolute;
	width: 400px;
	height: 175px;
	top: -225px;
	background: white;
	z-index: 99999;
	animation: bg 5s infinite ease alternate;
}

.content, .content-text-1, .content-text-2, .content-text-3, .content-2, .content-3, .text-10, .text-1, .text-2, .text-3, .text-4, .text-5, .text-6, .text-7, .text-8, .text-9{
	position: absolute;
	color: #fff;
	top: 45%;
	left: 12%;
	font-size: 30px;
	font-weight: 400;
	text-shadow: 2px 2px 4px #00000030;
}
.content{
	animation: up-3 12s infinite;
	top: 55%;
}
.content-text-1{
	font-weight: 610;
	animation: up-3 12s infinite;
	animation-delay: 3s;
	top: 55%;
}
.content-text-2{
	font-weight: 610;
	animation: up-3 12s infinite;
	animation-delay: 6s;
	top: 55%;
}
.content-text-3{
	font-weight: 610;
	animation: up-3 12s infinite;
	animation-delay: 9s;
	top: 55%;
}
.content-2{
	top: 55%;
	left: 55%;
	font-weight: 610;
	animation: up-2 20s infinite;
}
.content-3{
	top: 30%;
	left: 55%;
	font-weight: 610;
	animation: up-2-2 20s infinite;
}
.text-1{
	left: 79%;
	font-weight: 610;
	animation: up 10s infinite;
}
.text-2{
	left: 79%;
	opacity: 0;
	font-weight: 610;
	animation: up 10s infinite;
	animation-delay: 1s;
}
.text-3{
	left: 79%;
	opacity: 0;
	font-weight: 610;
	animation: up 10s infinite;
	animation-delay: 2s;
}
.text-4{
	left: 79%;
	opacity: 0;
	font-weight: 610;
	animation: up 10s infinite;
	animation-delay: 3s;
}
.text-5{
	left: 79%;
	opacity: 0;
	font-weight: 610;
	animation: up 10s infinite;
	animation-delay: 4s;
}
.text-6{
	left: 79%;
	opacity: 0;
	font-weight: 610;
	animation: up 10s infinite;
	animation-delay: 5s;
}
.text-7{
	left: 79%;
	opacity: 0;
	font-weight: 610;
	animation: up 10s infinite;
	animation-delay: 6s;
}
.text-8{
	left: 79%;
	opacity: 0;
	font-weight: 610;
	animation: up 10s infinite;
	animation-delay: 7s;
}
.text-9{
	left: 79%;
	opacity: 0;
	font-weight: 610;
	animation: up 10s infinite;
	animation-delay: 8s;
}
.text-10{
	left: 79%;
	opacity: 0;
	font-weight: 610;
	animation: up 10s infinite;
	animation-delay: 9s;
}


@keyframes up{
	0%{top: 65%; opacity: 1;}
	10%{top: 45%; opacity: 1;}
	20%{top: 30%; opacity: 0;}
	100%{top: 30%; opacity: 0;}
}
@keyframes up-2{
	0%{top: 45%; opacity: 1;}
	50%{top: 45%; opacity: 1;}
	51%{top: 30%; opacity: 0;}
	100%{top: 30%; opacity: 0;}
}
@keyframes up-2-2{
	0%{top: 55%; opacity: 0;}
	50%{top: 55%; opacity: 0;}
	51%{top: 45%; opacity: 1;}
	100%{top: 45%; opacity: 1;}
}
@keyframes up-3{
	0%{top: 65%; opacity: 1;}
	5%{top: 45%; opacity: 1;}
	20%{top: 45%; opacity: 1;}
	30%{top: 30%; opacity: 0;}
	100%{top: 30%; opacity: 0;}
}

@keyframes bg{
	0%{background: deeppink;}
	100%{background: orange;}
}

// ====== count end =======
