
.problem {
  width: 100%;
}

.label {
width: auto;
border-radius: 10px;
box-shadow: 0 0 0 0 #F4F4F4, 0.1rem 0.1rem 6px #272932;
font-family: $body-font;
text-align: center;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
position: relative;
padding: 0px 12px 0px 40px;
}

.input {
  background-color: $black;
}

.group-input-avatar {
  width: 75%;
  border-radius: 10px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  justify-content: center;
  display: flex;
}

.city-form-group {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  height: 200px;
}

.fix-form {
  width: 60%;
}

.form-custom {
  border-radius: 10px;
  height: 50px;
}

.input-group-text {
padding: 0%;
}


.label-logo img {
  position: absolute;
  left: -25px;
  bottom: -5px;
  width: 60px;
}

.label-group {
  align-self: flex-start;
  position: relative;
}

.mapboxgl-ctrl-geocoder--input {
  border-radius: 10px;
  height: 50px;
  background-color: $black;

  display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: white;
background-clip: padding-box;
border: 1px solid #ced4da;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mapboxgl-ctrl-geocoder--button, .mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search, .mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-loading {
display: none;
}

.mapboxgl-ctrl-geocoder--pin-right{
  display: none;
}

.form-control::file-selector-button {
  padding: 7px;
  margin: auto auto;
  height: 36px;
  margin-right: 5px;
  border-radius: 10px;
}

// =========== FORM INDEX ======================

#form-index-control {
width: 500px;
border-radius: 10px;
border: solid;
border-color: #FD1C68 ;
text-align: center;
}

#form-index-control::placeholder{
  color: #FD1C68 ;
  opacity: 0.7;
}
