.linkto {
  width: 200px;
  margin-top: 50px;
  margin-left: 20px;
  color:inherit;
  color: #272932;
  text-decoration: none;
  opacity: 0.8;
  &:hover {
    color:inherit;
    color: #272932;
    text-decoration: none;
    opacity: 1;
  }
}
