.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.marker {
  background-image: url('https://static.vecteezy.com/ti/vecteur-libre/p1/623220-love-coeur-logo-et-symbole-vecteur-gratuit-vectoriel.jpg');
}
