.profile-link{
  width: 200px;
  margin-left: 20px;
  color: inherit;
  color: #272932;
  text-decoration: none;
  opacity: 0.8;
}

.profile-card {
  position: relative;
  color: white;
  background: $button;
  border-radius: 8px;
  box-shadow: 7px 13px 9px lightgrey ;
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  h3{
    font-size: 37px;
    margin-right: 43px;
    margin-top: 16px;
    background-color: white;
    color: #FD1C68;
    padding: 12px;
    border-radius: 38px;
  }
  p {
    font-size: 15px;
    opacity: .7;
  }
}

.city-icone{
  background-color: white;
  padding: 5px;
  color:#FD1C68;
  border-radius: 26px;
  height: 22px;
  width: 25px;
  text-align: center;
  margin-bottom: 14px;
}
.description-profile{
 display: grid;

}
.ta-bio{
  display: block;
  align-items: baseline;
}

.thematique-fav {
display: block;
}

.thematique-fav-icone{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.profile-card-left {
  margin-left: 120px;
}

.profile-card-bottom-inside {
  width: 50%;
  border-radius: 10px;
  background-color: $black;
}

.profile-card-bottom {
  color: $black;
  padding: 10px;
  margin: 45px;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;
  border-radius: 8px;
  h2 {
    font-size: 20px;
    background: -webkit-linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }
  h3 {
    font-size: 16px;
  }
  p{
    font-size: 14px;
    opacity: .7;
  }
}



.profile-meilleurs-pulses {
  max-width: 100%;
  background: #272932;
  color: white;
  border-radius: 9px;
  padding-left: 14px;
  padding-top: 29px;
  padding-bottom: 35px;
  padding-right: 12px;
  height: 78%;
  box-shadow: 7px 13px 9px lightgrey ;
}

.icone-profile {
  display: inline-grid;
}

.best-icone{
  margin-bottom: 4px;
  background: linear-gradient(to right, #FDAE8F, #FD1C68);
  color: white;
  font-size: 21px;
  margin-right: 19px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pulses-profile {
  border-radius: 5px;
  background: white;
  color: #272932;
  padding-top: 12px;
  margin: 10px;
  align-items: flex-start;
}

.pulse-profile-description {
  max-width: 611px;
}

.pulse-profile-description h3{
    font-size: 16px;
    background: -webkit-linear-gradient(207.67deg, #FDAE8F 3.43%, #FD1C68 104.7%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
  }

.pulse-icone-coeur {
  padding: 10px;
  background: $button;
  height: 66px;
  min-width: 66px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 20px;
  text-align: center;
  bottom: 175px;
  right: 15px;
  margin-bottom: 10px;
}
.messages-card-right{
  max-width: 500px;
}

.echange-mairie{
  padding-left: 14px;
  padding-top: 14px;
  padding-bottom: 63px;
  padding-right: 12px;
  border: solid;
  background: $black;
  color: black;
  margin-left: 4px;
  margin-top: -9px;
  display: block;
  border-radius: 9px;
  border: none;
  align-items: center;
  max-width: 100%;
  box-shadow: 7px 13px 9px lightgrey ;
}

.link-messages-profile{
  display: block;
  justify-content: space-around;
  color: white;
  margin-bottom: 20px;
}

.link-messages-profile-h2{
  text-decoration: none;
  background: linear-gradient(to right, #FDAE8F, #FD1C68);;
  padding: 6px;
  border-radius: 12px;
  color: white;
}

.link-messages-profile-h2:hover{
  color: #6F8AB7;
}

.link-messages-profile-p{
  text-decoration: none;
  color: white;
}

.retour-mairie {
  background: white;
  color: $black;
  max-width: 400px;
  border-radius: 5px;
  padding: 10px;
}


.container-chatroom {
  width: auto;
  background: $black;
  color: white ;
  max-height: 284px;
  display: flex;
}


.messages {
  background: whitesmoke;
  color: $black;
  border-radius: 16px;
  padding-left: 15px;
  height: 100%;
  overflow: scroll;
  padding: 1rem;
  margin-bottom: 2px;
}
.input-profile-message{
  width: 82%;
  margin: 0 auto;
}
