.profile-card-bottom-inside {
  width: 50%;
  border-radius: 10px;
  background-color: $black;
}

.profile-card-bottom {
  color: $black;
  padding: 10px;
  margin: 45px;
  border-radius: 8px;
  display: flex;
  justify-content: revert;
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  p{
    font-size: 14px;
    opacity: .7;
  }
}

.profile-meilleurs-pulses {
  max-width: 1168px;
  background: #272932;
  color: white;
  border-radius: 9px;
  padding-left: 14px;
  padding-top: 29px;
  padding-bottom: 35px;
  padding-right: 12px;
}

.pulses-profile {
  border-radius: 5px;
  background: white;
  color: #272932;
  padding: 5px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pulse-profile-description {
  max-width: 611px;
}
.pulse-icone-coeur {
  padding: 10px;
  background: $button;
  height: 66px;
  min-width: 66px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 20px;
  text-align: center;
  bottom: 175px;
  right: 15px;
  margin-bottom: 10px;
}

.echange-mairie{
  padding-left: 14px;
  padding-top: 29px;
  padding-bottom: 35px;
  padding-right: 12px;
  border: solid;
  background: $black;
  color: black;
  margin-left: 4px;
  margin-top: 6px;
  display: block;
  border-radius: 9px;
  border: none;
  align-items: center;
  width: 100%;
  height: auto;
}
.retour-mairie {
  background: white;
  color: $black;
  max-width: 400px;
  border-radius: 5px;
  padding: 10px;
}


.container-chatroom {
  width: auto;
  background: $black;
  color: white ;
  max-height: 260px;
  display: flex;
}


.messages {
  background: whitesmoke;
  color: $black;
  border-radius: 16px;
  padding-left: 15px;
  height: 100%;
  overflow: scroll;
  padding: 1rem;
  margin-bottom: -49px;
}
.input-profile-message{
width: 21%;
position: absolute;
margin-top: 39px;
}

.profile-card {
  position: relative;
  color: white;
  background-color: $black;
  border-radius: 8px;
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
    opacity: .7;
  }
}

.profile-card-left {
  margin-left: 120px;
}
