.searchbarhome {
  width: 500px;
  border-radius: 8px;
  background: $button;
}

.searchbarhome-drop {
  width: 500px;
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  background-color: $light-gray;
}

.searchbarindex {
  width: 500px;
}
