.searchbarhome {
  width: 500px;
  border-radius: 30px;
  background: $button;
  color: #fff;

}

.searchbarhome-drop {
  width: 500px;
  display: flex;
  justify-content: center;
}

.dropdown-menu {
  background-color: $light-gray;
}

.searchbarindex {
  width: 500px;
}
